# 01. Importing Libraries

In [1]:
# importing libraries
import pandas as pd
import numpy as np
import os

# 02. Importing Data

In [2]:
# path shortcut
path = r'C:\Users\georg\Documents\2025-04-07 - NBA Game Analysis\Data'

In [3]:
# importing games data
df_games = pd.read_csv(os.path.join(path, 'games.csv'), index_col = False)

In [6]:
# importing teams data
df_teams = pd.read_csv(os.path.join(path, 'teams.csv'), index_col = False)

# 03. Data Cleaning & Consitency Checks

In [11]:
df_games.shape

(26651, 21)

In [12]:
df_teams.shape

(30, 14)

In [17]:
df_games.describe()

,GAME_ID,HOME_TEAM_ID,VISITOR_TEAM_ID,SEASON,TEAM_ID_home,PTS_home,FG_PCT_home,FT_PCT_home,FG3_PCT_home,AST_home,REB_home,TEAM_ID_away,PTS_away,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away,HOME_TEAM_WINS
count,2.665100e+04,2.665100e+04,2.665100e+04,26651.000000,2.665100e+04,26552.000000,26552.000000,26552.000000,26552.000000,26552.000000,26552.000000,2.665100e+04,26552.000000,26552.000000,26552.000000,26552.000000,26552.000000,26552.000000,26651.000000
mean,2.175487e+07,1.610613e+09,1.610613e+09,2012.113879,1.610613e+09,103.455898,0.460735,0.760377,0.356023,22.823441,43.374284,1.610613e+09,100.639876,0.449732,0.758816,0.349489,21.496271,42.113249,0.587032
std,5.570189e+06,8.638670e+00,8.659299e+00,5.587031,8.638670e+00,13.283370,0.056676,0.100677,0.111164,5.193308,6.625769,8.659299e+00,13.435868,0.055551,0.103429,0.109441,5.160596,6.533039,0.492376
min,1.030000e+07,1.610613e+09,1.610613e+09,2003.000000,1.610613e+09,36.000000,0.250000,0.143000,0.000000,6.000000,15.000000,1.610613e+09,33.000000,0.244000,0.143000,0.000000,4.000000,19.000000,0.000000
25%,2.070001e+07,1.610613e+09,1.610613e+09,2007.000000,1.610613e+09,94.000000,0.422000,0.697000,0.286000,19.000000,39.000000,1.610613e+09,91.000000,0.412000,0.692000,0.278000,18.000000,38.000000,0.000000
50%,2.120076e+07,1.610613e+09,1.610613e+09,2012.000000,1.610613e+09,103.000000,0.460000,0.765000,0.357000,23.000000,43.000000,1.610613e+09,100.000000,0.449000,0.765000,0.350000,21.000000,42.000000,1.000000
75%,2.180005e+07,1.610613e+09,1.610613e+09,2017.000000,1.610613e+09,112.000000,0.500000,0.833000,0.429000,26.000000,48.000000,1.610613e+09,110.000000,0.487000,0.833000,0.419000,25.000000,46.000000,1.000000
max,5.210021e+07,1.610613e+09,1.610613e+09,2022.000000,1.610613e+09,168.000000,0.684000,1.000000,1.000000,50.000000,72.000000,1.610613e+09,168.000000,0.687000,1.000000,1.000000,46.000000,81.000000,1.000000

In [20]:
# looking for missing values in Games dataset
missing_values_games = df_games.isnull().sum()
missing_columns_games = missing_values_games[missing_values_games > 0]

print (missing_columns_games)

PTS_home        99
FG_PCT_home     99
FT_PCT_home     99
FG3_PCT_home    99
AST_home        99
REB_home        99
PTS_away        99
FG_PCT_away     99
FT_PCT_away     99
FG3_PCT_away    99
AST_away        99
REB_away        99
dtype: int64

In [21]:
df_games_cleaned = df_games.dropna()

In [23]:
# checking to see if we still have missing data
missing_values_games_test = df_games_cleaned.isnull().sum()
missing_columns_games_test = missing_values_games_test[missing_values_games_test > 0]

print (missing_columns_games_test)

Series([], dtype: int64)

In [24]:
# looking for missing values in Teams dataset
missing_values_teams = df_teams.isnull().sum()
missing_columns_teams = missing_values_teams[missing_values_teams > 0]

print (missing_columns_teams)

ARENACAPACITY    4
dtype: int64

### not going to delete missing rows, arena capacity isnt important in this analysis.

In [28]:
# checking for duplicates in games data
df_games_cleaned_dups = df_games_cleaned[df_games_cleaned.duplicated()]

In [29]:
df_games_cleaned_dups

Empty DataFrame
Columns: [GAME_DATE_EST, GAME_ID, GAME_STATUS_TEXT, HOME_TEAM_ID, VISITOR_TEAM_ID, SEASON, TEAM_ID_home, PTS_home, FG_PCT_home, FT_PCT_home, FG3_PCT_home, AST_home, REB_home, TEAM_ID_away, PTS_away, FG_PCT_away, FT_PCT_away, FG3_PCT_away, AST_away, REB_away, HOME_TEAM_WINS]
Index: []

[0 rows x 21 columns]

In [30]:
# checking for duplicates in teams data
df_teams_dups = df_teams[df_teams.duplicated()]

In [31]:
df_teams_dups

Empty DataFrame
Columns: [LEAGUE_ID, TEAM_ID, MIN_YEAR, MAX_YEAR, ABBREVIATION, NICKNAME, YEARFOUNDED, CITY, ARENA, ARENACAPACITY, OWNER, GENERALMANAGER, HEADCOACH, DLEAGUEAFFILIATION]
Index: []

### No duplicates in either table

# 04. Exporting Data

In [32]:
# no changes were made to teams data - only exporting cleaned games data
df_games_cleaned.to_csv(os.path.join(path, 'games_cleaned.csv'))